name: Lint Backend

on:
  push:
    branches:
      - main
    paths:
      - "app/**/*.py"
  pull_request:
    branches:
      - main
      - develop
    types:
      - opened
      - synchronize
    paths:
      - "app/**/*.py"

jobs:
  lint-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Set up Python
        run: uv python install
      - run: uv run bash scripts/lint.sh
